{% extends 'base.html' %}
{% block title %}
<title>Login</title>
{% endblock %}
{% block content %}
<style type="text/css">
  .login-form {
    width: 340px;
      margin: 50px auto;
  }
    .login-form form {
      margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
<div class="login-form">

<form method="post">
    <h2 class="text-center">Login</h2>
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
{% endblock %}
